body 
{
    
    background-image: url("background.png");
    font-family: 'Nunito';
    letter-spacing: 0.0625em;
}

a {
    color: #64a19d;
}


.bg-black {
    background-color: #161616;
}

.bg-primary {
    background-color: #64a19d;
}

.text-primary {
    color: #64a19d;
}


.card {
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 13rem;
    background-color: #354d51;
}
  
h2 
{
    color:  #f1c40f ;
}

table
{

    
}