body 
{
    background-image: url("img/background.png");
    letter-spacing: 0.0625em;
}

a {
    color: #64a19d;
}


.bg-black {
    background-color: #161616;
}

.bg-primary {
    background-color: #64a19d;
}

.text-primary {
    color: #64a19d;
}

.card {
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 9rem;
    background-color: #212529;
}
  

table th
{
    color:  #0097a7;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;


}

table td
{
    color: #bdbdbd  ;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

table
{
    border-radius: 5%;
}
.bandhead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 9rem 0;
    background: linear-gradient(to top, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 70%, #161616 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bandhead h2 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

