<div class="container ">
        <article class="card" style="width: 50rem;">
            <div class="card-body ">
        <h2 class="card-title">${nickname}</h2>
        <p class="card-text"><strong th:text="${currentScores}">Scores is  <!-- texte ici--> :</strong><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis imperdiet massa, ut tincidunt turpis. Fusce in ante suscipit sapien elementum faucibus vitae eu ante. Ut imperdiet accumsan mi in feugiat. </p>
            </div>
</div>            
</article>        
